.info-details {
    margin: 10px 0;
    border-top: 1px solid rgba(91, 91, 91, 0.6);
    border-bottom: 1px solid rgba(91, 91, 91, 0.6);
    .items-section {
        display: flex;
        justify-content: center;
        align-items: center;
        .items {
            text-align: center;
            padding: 0 10px;
            h1 {}
            p {
                margin: none;
            }
        }
        .dot {
            width: 5px;
            height: 5px;
            background-color: rgba(91, 91, 91, 0.4);
            border-radius: 100%;
        }
    }
}