.App {
    position: relative;
    width: 100%;
    .navigation {
        position: absolute;
        width: 30%;
        left: 0;
    }
    .information {
        position: absolute;
        width: 70%;
        right: 0;
    }
}